@page "/AddCar"


@inherits BasePage

<MyStyle></MyStyle>
<style>


</style>

<h2>Add Car</h2>
<div class="row" style="background-color:lightcyan;">

    <label class="ml">Brand* </label> <input class="mi" @bind=@car.Brand />
    <label class="ml">Model *</label> <input class="mi" @bind=@car.Model />
    <label class="ml">Year</label>    <input class="mi" @bind=@car.Year />
    <label class="ml">Price</label>   <input class="mi" @bind=@car.Price />

</div>

<img class="imgcar" src=@CarViewModel.GetImg(car)/>
<div class="row">
    <button class="ml" @onclick="@Save">Save</button>
    <button class="ml" @onclick="@base.OnCarList">Car List</button>
</div>


<Message @ref="Msg" Act=StateHasChanged></Message>



@code {
    CarViewModel car = CarViewModel.CreateRandomCar();

    public Message Msg;
    bool Saved = false;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
    }
    protected async Task<bool> Save()
    {
        var personResponse = await API.Add(car);
        bool b = (personResponse?.Id > 0);
        await Msg.Show(b,  b ? "Add OK" : "Add Error");

        if (b)
             car = CarViewModel.CreateRandomCar();
        return b;
    }


}
