@page "/AddCar"


@inherits BasePage

<MyStyle></MyStyle>

<h3>Add Car</h3>
<div class="row" style="background-color:lightcyan;">

    <label class="ml">Brand* </label> <input class="mi" @bind=@car.Brand />
    <label class="ml">Model *</label> <input class="mi" @bind=@car.Model />
    <label class="ml">Year</label>    <input class="mi" @bind=@car.Year />
    <label class="ml">Price</label>   <input class="mi" @bind=@car.Price />
    <div class="divImg">
        <img class="imgcar" src=@CarViewModel.GetImg(car)/>
    </div>
    <div class="row">
        <button class="btn btn-primary"  @onclick="@Save">Save</button>
        <button class="btn btn-primary"  @onclick="@base.OnCarList">Car List</button>
    </div>
</div>






<Message @ref="Msg" Act=StateHasChanged></Message>

@code {
    CarViewModel car = CarViewModel.CreateRandomCar();

    public Message? Msg;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
    }
    protected async Task<bool> Save()
    {
        var personResponse = await API.Add(car);
        bool b = (personResponse?.Id > 0);
        if (Msg != null)
            await Msg.Show(b,  b ? "Add OK" : "Add Error");
        if (b)
            base.OnCarList();
        return b;
    }


}
