@page "/EditCar/{Id}"
@inherits BasePage;
@inject ICarsViewModel ICarsViewModel;
@inject IWebService IWebService

<MyStyle></MyStyle>


<h3>Edit Car</h3>
@if(car != null)
{
    <div class="row" >
        <label class="ml">Brand* </label> <input class="mi" @bind=@car.Brand />
        <label class="ml">Model *</label> <input class="mi" @bind=@car.Model />
        <label class="ml">Year</label>    <input class="mi" @bind=@car.Year />
        <label class="ml">Price</label>   <input class="mi" @bind=@car.Price />

        <div class="divImg">
            <img class="imgcar" src=@CarViewModel.GetImg(car)/>
        </div>
    </div>

}

<div class="row">
    <button class="btn btn-primary" @onclick="@Save">Save</button>
    <button class="btn btn-primary" @onclick="@base.OnCarList">Car List</button>
</div>
<Message @ref="Msg" Act=StateHasChanged></Message>

@code {
    [Parameter]
    public string Id { get; set; } = "";
    public Message? Msg;
    CarViewModel car = new CarViewModel();

    protected override async Task OnInitializedAsync()
    {
         car = await ICarsViewModel.GetById(Id);
    }
    protected async Task Save()
    {
        bool b = await ICarsViewModel.Update(car);

        if (Msg != null)
            await Msg.Show(b,  b ? "Edit OK" : "Edit Error");
    }
}
