<MyStyle></MyStyle>

<div hidden="@(string.IsNullOrEmpty(StrInfo))" class=@(Error ? "error_box" : "info_box")>
    @StrInfo
</div>
@code {
    [Parameter]
    public string StrInfo { get; set; } = "";
    [Parameter]
    public Action? Act { get; set; } = null;

    private bool Error=false;

    public async Task Show(bool ok, string msg)
    {
        StrInfo = msg;
        Error = !ok;
        StateHasChanged();
        await Task.Delay(4500);
        StrInfo = "";
        StateHasChanged();
    }
}
