@typeparam T


    <label  class="button">@Label</label>
    <input  class="button" @bind=@Data />

@code {
    [Parameter]
    public string Label { get; set; } = "";
    [Parameter]
    public T Data { get; set; }
    [Parameter]
    public RenderFragment<T> ChildContent { get; set; }
}
